# DAGsHub Configuration
DAGSHUB_TOKEN=6b6c4f63f34273bfca7144147d0f1b0772293951

# Flask Configuration
FLASK_ENV=development
FLASK_APP=app/app.py

# Frontend Configuration
REACT_APP_API_URL=http::5000

# Docker Configuration
DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1
 